@import '../../_css/queries.scss';

.hero {
  padding-top: calc(var(--base) * 2);
  overflow: hidden;
  height: 400px;

  @include mid-break {
    padding-top: var(--gutter-h);
  }

  & h2 {
    color: white;
  }

  & h3 {
    color: #f7f7f7;
  }

  & h4 {
    color: #f7f7f7;
  }
}

.media {
  width: 100%;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;

  @include mid-break {
    left: 0;
    margin-top: var(--base);
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: var(--base);
  flex-wrap: wrap;
  margin: calc(var(--base) * -.5);
  justify-content: center;
  text-shadow: none;

  & > * {
    margin: calc(var(--base) / 2);
    box-shadow:
      rgba(0, 0, 0, 0.8) 2px 2px 8px,  /* Soft large shadow */
      rgba(0, 0, 0, 0.6) 4px 4px 4px;  /* More defined shadow closer to text */
  }
}

.caption {
  margin-top: var(--base);
  color: var(--theme-elevation-500);
  left: calc(var(--gutter-h) / 2);
  width: calc(100% - var(--gutter-h));
  position: relative;

  @include mid-break {
    left: var(--gutter-h);
  }
}

.content {
  position: relative;
  text-align: center;
  padding-bottom: 40px;
  text-shadow:
    rgba(0, 0, 0, 0.8) 2px 2px 8px,  /* Soft large shadow */
    rgba(0, 0, 0, 0.6) 4px 4px 4px;  /* More defined shadow closer to text */
}

.scrollDownArrow {
  display: inline-block;
  margin-top: 40px;
  justify-content: center;
  transform: translateX(-50%);
  font-size: 42px;
  color: #f7f7f7;
  animation: bounce 1.5s infinite;
  cursor: pointer;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
