body {
  background: transparent;
}

.nav {
  background: rgba(0, 0, 0, 0.8);
}

.nav nav a {
  color: white;
}

.nav-group__toggle {
  color: #c0c0c0
}

.react-datepicker {
  scale: 150%;
  position: relative;
  top: 50px;
  left: 44px;

  button {
    scale: 200%;
  }
}
