@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
}

.navLinks {
  display: flex;
  text-shadow:
    rgba(0, 0, 0, 0.2) 1px 1px 1px,  /* Clean, sharp shadow for slight depth */
    rgba(0, 0, 0, 0.1) 2px 2px 1px;  /* Defined shadow to add subtle clarity */
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
