@use '../../_css/queries.scss' as *;

.header {
  padding: var(--base) 0;
}

.navLinks {
  display: flex;
  color: white;
  text-shadow:
    rgba(0, 0, 0, 0.5) 1px 1px 3px,  /* Soft and subtle shadow */
    rgba(0, 0, 0, 0.3) 2px 2px 2px;  /* Slightly more defined shadow */
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}

:global([data-theme="light"]) {
  .logo {
    filter: invert(1);
  }
}
